<h1 class="title">~ All Cooks ~</h1>
<div class="container">
  <% @users.each do |user| %>
    <div class="cooks-display">
      <p>
        <%= link_to image_tag(user.image, class: 'img-thumbnail img-fluid cook'), profile_path(user) %>
        <%= user.name %>
      </p>
      <p>
        <% user.dishes.each do |dish| %>
            <%= link_to image_tag(dish.image, class: 'img-thumbnail img-fluid cook-dishes'), dish %>
        <% end %>
      </p>
      </div>
  <% end %>
</div>
