<h1>Pages#home</h1>
<%= link_to 'Home', '/pages/home'  %>
<p>Find me in app/views/pages/home.html.erb</p>
<% @dishes.each do |dish| %>
  <%= image_tag dish.image %>
<% end %>
<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% else %>
  <%= link_to('Login', new_user_session_path)  %>
<% end %>
