<div class="food-container">
  <div class="food-grid">
    <% @dishes.each do |dish| %>
      <div class="food-item">
          <%= link_to image_tag(dish.image, class: 'img-thumbnail'), dish %>
      </div>
    <% end %>
  </div>
</div>
