<h1 class="title">~ <%= @cuisine %> Dishes ~</h1>

<div class="container">
  <div class="row">
    <% @dishes.each do |dish| %>
      <div class="col-sm-3">
          <%= link_to image_tag(dish.image, class: 'img-thumbnail img-fluid food'), dish %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Dish', new_dish_path %>
