// Place all the styles related to the Dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-display{
  display: flex;
  justify-content: center;
}

.img-thumbnail {
  border: none;
  height: 160px;
  width: 250px;
}

.img-pic{
  width: 100%;
  height: 450px;
}

.title{
  text-align: center;
}

.img-details{
  padding: 20px;
  width: 50%;
}

.price{

}

.img-buttons{
  display: flex;
  flex-direction: column;
  width: 50%;
}
